body {
  font-family: "Jost", sans-serif;
}

.logo {
  font-family: "Kalnia", serif;
  font-weight: 500;
}

.sidebar {
  width: 14rem;
}

a,
.nav-link,
.nav-link:focus,
.nav-item {
  color: currentColor;
  text-decoration: none;
}

.btn-ghost-light {
  color: #f8f9fa;
  background-color: transparent;
}

.btn.btn-ghost-light:active,
.btn.btn-ghost-light:hover,
.btn-ghost-light:focus {
  color: #f8f9fa;
  box-shadow: none;
  border-color: transparent;
  background-color: #f8f9fa15;
}

.bi.bi-list,
.bi.bi-x {
  font-size: 1.3rem;
}

.bi.icon {
  font-size: 1.5rem;
}
.bi .bi.icon-xl {
  font-size: 2.5rem;
}

.bi {
  color: currentColor;
  font-size: 1rem;
}

.logo {
  font-family: "Kalnia", serif;
  font-weight: 500;
}
