body {
  font-family: "Jost", sans-serif;
}

.logo {
  font-family: "Kalnia", serif;
  font-weight: 500;
}

a,
.nav-link,
.nav-link:focus,
.nav-item {
  color: currentColor;
  text-decoration: none;
}

a:hover,
.nav-link:hover,
.nav-link:active,
.active {
  color: currentColor;
  text-decoration: underline !important;
}

.navbar-toggler {
  font-size: 2rem;
  box-shadow: none !important;
  border: none;
}

/* .bg-img {
  height: auto;
  background-image: url("../../asset/img/parco-chan-BeNerxxCKLU-unsplash.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
} */

main {
  min-height: calc(100vh - 200px);
}

.img-product {
  width: 269px;
  height: 269px;
}
.form-floating a {
  right: 50px;
  position: absolute;
}

.fade {
  animation: fade 0.5s both;
}
@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-fade {
  animation: modal-fade 0.5s both;
}

@keyframes modal-fade {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.pointer {
  cursor: pointer;
}

footer {
  height: 100px;
}
